@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
.subtitle {
  font-family: "Kaushan Script", cursive;
}

.title {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

div {
  font-family: "Montserrat", sans-serif;
}

#header {
  background: linear-gradient(0deg, #eed889 25%, #e98383 84%);
  width: 100%;
  text-align: center;
  margin: auto;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 5fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#header::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  opacity: 0.08;
  background-image: url("./img/eagle.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}

#header .navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

#header .navigation .navigation-logo {
  width: 50%;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

@media screen and (max-width: 600px) {
  #header .navigation .navigation-logo {
    width: 20%;
    font-size: 14px;
  }
}

#header .navigation .navigation-list {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
}

@media screen and (max-width: 600px) {
  #header .navigation .navigation-list {
    width: 80%;
  }
}

#header .navigation .navigation-list__item {
  font-size: 14px;
  text-transform: uppercase;
}

#header .navigation .navigation-list__item:hover {
  color: #fce38a;
  text-decoration: underline;
  text-underline-offset: 15px;
}

@media screen and (max-width: 1200px) {
  #header .navigation .navigation-list__item {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  #header .navigation .navigation-list__item {
    font-size: 10px;
  }
}

#header .subtitle {
  font-size: 72px;
  align-self: end;
}

@media screen and (max-width: 1200px) {
  #header .subtitle {
    font-size: 65px;
  }
}

@media screen and (max-width: 800px) {
  #header .subtitle {
    font-size: 55px;
  }
}

@media screen and (max-width: 600px) {
  #header .subtitle {
    font-size: 40px;
  }
}

#header .title {
  font-size: 150px;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  #header .title {
    font-size: 130px;
  }
}

@media screen and (max-width: 800px) {
  #header .title {
    font-size: 100px;
  }
}

@media screen and (max-width: 600px) {
  #header .title {
    font-size: 60px;
  }
}

#header .button {
  font-size: 14px;
  align-self: start;
}
