@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
.subtitle {
  font-family: "Kaushan Script", cursive;
}

.title {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

div {
  font-family: "Montserrat", sans-serif;
}
