$white: #fff;
$black: #333;
$dark-grey: #666;
$light-grey: #999;
$green: #bfede4;    
$semi-green: #95e1d3;    
$red: #f38181; 
$yellow: #fce38a;
$gradient: linear-gradient(0deg, rgba(238,216,137,1) 25%, rgba(233,131,131,1) 84%);

